.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .card-img-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .flex-wrap{
    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (max-width: 996px) {
    .flex-wrap {
    padding-left: 50px; 
    padding-right: 50px;
    }
  }