<br><br>

<body>
  <div class="bg-img">
    <div class="col-3">
      <form (ngSubmit)="onSubmit()" #logInForm="ngForm">

        <h1 style="text-align: center;">Log In</h1>
        <h6 style="text-align: center;">New to this site? <a style="text-decoration: underline;color: black;"
            routerLink="/sign-up">Sign Up</a></h6>

        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" class="form-control" type="email" ngModel name="email" required email #email="ngModel">
          <span class="text-danger" *ngIf="!email.valid && email.touched">
            <span *ngIf="email.errors?.['required']">Email is required.</span>
          </span>
        </div>

        <div class="form-group">
          <label for="password" style="margin-bottom: 2px;">Password</label>
          <input class="form-control" type="password" ngModel name="password" required minlength="5" password
            #password="ngModel">
          <span *ngIf="password.errors && password.touched">
            Password is required.
          </span>
        </div>

        <br>
        <h6 style="margin-bottom: 10px;">Forgot password?</h6>

        <div class="d-grid gap-2">

          <button type="submit" *ngIf="!isLogedIn" [disabled]="!logInForm.valid" class="btn btn-light"
            (click)="signIn(email.value, password.value); onSubmit()">Log In</button>
          <button type="submit" *ngIf="isLogedIn" [disabled]="!logInForm.valid" class="btn btn-light"
            (click)="signOut()">LogOut</button>
        </div>
      </form>
    </div>
  </div>
</body>