<div class="container-fluid m-0 p-0 overflow-hidden">

    <!-- Image container -->
    <div class="top-img position-relative">
        <div class="text-css">
            <h1>GIVE WITH MEANING</h1>
            <p class="text-center">For over 110 years, as the floral-gifting experts, we’ve been helping you give with
                more care, with greater ease, and with more meaning.<br>
                Established in 1910 as a collective of 10 florists, Florists’ Transworld Delivery (FTD) used the
                telegraph to transform the age-old practice of flower-giving. We understood then the unique power of
                flowers to express a sentiment and helped people across the world “Say it with flowers.” Today, we have
                grown into an extensive network made up of thousands of local florists — each one an artisan who is
                handcrafting and hand-delivering fine bouquets all across the country.
                <br>
                When you’re giving with FTD you’re giving the gift of joy, strength, and love and you're giving it with
                meaning.
            </p>
            <h2>FTD.com Affiliate Program</h2>
            <p class="text-center">Advertise FTD.com on your site and get 5% on your users' purchases</p>
        </div>
    </div>

    <br>

    <!-- Text container -->
    <div class="container text-center">
        <div class="row justify-content-around" style="margin-bottom: 30px;">
            <div class="col-lg-3 col-sm-12">
                Advertise
                <hr>
                Advertise FTD on your website
                Why Partner with FTD?
                <br><br><br>
                After 100 years in business,
                we know a thing or two about flowers! In fact, we invented the world's first floral network and are one of
                America's most recognizable brands. Our century of success is built on industry leading standards for floral
                quality, artistry, and reliability. Join the FTD affiliate program and start generating revenue for your
                site.
            </div>
            <div class="col-lg-3 col-sm-12">
                Convert
                <hr>
                Upon ad selection users are taken to product
                What can you expect?
                <br><br><br>
                <ul>
                    <li>Full time dedicated and experienced Affiliate Manager</li>
                    <li>Competitive commission and attractive conversion rate</li>
                    <li>Daily reporting through CJ Affiliate</li>
                    <li>Affiliation with the oldest and most recognized floral organization and Brand in the world</li>
                    <li>Industry leading, best in class affiliate exclusive discounts</li>
                    <li>We deliver to almost 100% of the US residents and to major Canadian Metropolitan areas</li>
                    <li>A customizable mobile site with technology that works on hundreds of devices</li>
                    <li>Product feed available</li>
                    <li>Same day delivery available</li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-12">
                Earn 5% commission across all products & categories.
                <hr>
                How do I join?
                <br><br><br>
                Join now through CJ Affiliate. If you have questions about becoming an affiliate of FTD, please contact us
                at:
                <br>FTD-Affiliate@ftdi.com
            </div>
        </div>
    </div>
</div>