ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;

  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  

  ul.breadcrumb li a {
    color: #666699;
    text-decoration: none;
  }

  ul.breadcrumb li a:hover {
    color: #666699;
    text-decoration: underline;
  }
  .fixed-footer{
    position: fixed;
    bottom: 0;
  left: 0;
  right: 0;
  }
  .sticky-footer {
    position: sticky;
    bottom: 0;
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
  }

@media (max-width: 767px) {
  .col-lg-4 {
    width: 100%; 
  }
  .col-lg-4 img {
    max-width: 100%;
    height: auto; 
  }
}


 