<br><br><br>

<router-outlet></router-outlet>
<div class="container" *ngIf="productData">
  <div class="row">
    <ul class="breadcrumb col-auto me-auto">
      <li><a href="">Home</a></li>
      <li><a href="/products">Shop</a></li>
      <li><a href="/products">{{productData.category}}</a></li>
      <li>{{productData.name}}</li>
    </ul>
    <ul class="pagination col-auto" style="padding: 10px 16px;">
      <a [routerLink]="['/products', productData.id]">&laquo; Prev</a>
      <pre> | </pre>
      <a [routerLink]="['/products', productData.id]">Next &raquo;</a>
    </ul>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12" >
      <img class="rounded float-end" [src]="productData.imgSrc">
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <h2>{{productData.name}}</h2>
      <h2>{{productData.price}} $</h2>
      <p>{{productData.description}}</p>
      <hr>
      <label for="quantity">Quantity</label>
      <br>
      <input name="quantity" id="quantity" type="number">
      <br>
   
      <button class="btn btn-dark" style="margin-top: 3px;">Add to cart</button>
    </div>
  </div></div>
