.bg-img {
    background-image: url("/assets/imgs/loginBackground.jpg");
    max-width: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  input.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  span{
    color: red;
    font-size: 10px;
  }
  