<br><br>

<body>
    <div class="bg-img">
        <div class="col-3">
            <form (ngSubmit)="onSubmit()" #signInForm="ngForm">
                <h1 style="text-align: center;">Sign In</h1>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" type="text" class="form-control" ngModel name="firstName" required
                        minlength="5" firstName #firstName="ngModel">
                    <span *ngIf="firstName.errors && firstName.touched">
                        Name is required.
                    </span>
                </div>

                <div class="form-group">
                    <label for="lastName">Last name</label>
                    <input id="lastName" type="text" class="form-control" ngModel name="lastName" required minlength="5"
                        lastName #lastName="ngModel">
                    <span *ngIf="lastName.errors && lastName.touched">
                        Last name is required.
                    </span>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" class="form-control" ngModel name="email" required email
                        #email="ngModel">
                    <span class="text-danger" *ngIf="!email.valid && email.touched">
                        <span *ngIf="email.errors?.['required']">Email is required.</span>
                    </span>
                </div>

                <div class="form-group">
                    <label for="password" style="margin-bottom: 2px;">Password</label>
                    <input id="password" type="password" class="form-control" ngModel name="password" required
                        minlength="5" password #password="ngModel">
                    <span *ngIf="password.errors && password.touched">
                        Password is required.
                    </span>
                </div>

                <br>
                <h6 style="margin-bottom: 10px;font-weight: normal;"><a style="cursor: pointer;">Forgot password?</a>
                </h6>

                <div class="d-grid gap-2">
                    <button type="submit" [disabled]="!signInForm.valid" class="btn btn-light" (click)="signUp(email.value, password.value); onSubmit()" data-bs-target="#myModal">Sign In</button>
                    <h6>Already a member? <a style="text-decoration: underline;color: black;" routerLink="/log-in">Log
                            In</a></h6>
                </div>
            </form>
        </div>
    </div>
</body>

<!-- Modal -->
<div class="modal fade" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel" style="border: none;">Thank You for Registering</h1>
        </div>
        <div class="modal-body">
          <h4 class="text-center">We have sent a confirmation email to your email.</h4>
          <h4 class="text-center">Check your email and click on the link to verify your email address.</h4>
        </div>
        <div class="modal-footer" style="border: none;">
          <button type="button" class="btn btn-dark" (click)="sendVerificationMail(currentUser)">Resend Verification Email</button>
          <button type="button" class="btn btn-dark" routerLink="/log-in">Log in</button>
        </div>
      </div>
    </div>
  </div>