<br><br>

<body>
    <div class="bg-img">
        <form action="/action_page.php" class="col-4">
            <h1 style="text-align: center;">Sign In</h1>

            <div><label class="form-label" for="firstName">First Name</label>
                <input class="form-control" type="text" name="firstName" required>
            </div>
            <br>
            <div><label class="form-label" for="lastName">Last Name</label>
                <input class="form-control" type="text" name="lastName" required>
            </div>
            <br>
            <div><label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" required>
            </div>
            <br>
            <div> <label class="form-label" for="psw" style="margin-bottom: 2px;">Password</label>
                <input class="form-control" type="password" name="psw" required>
            </div>

            <br>
            <h6 style="margin-bottom: 10px;">Forgot password?</h6>
            

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-light">Log In</button>
                <h6>Already a member? <a style="text-decoration: underline;color: black;" routerLink="/log-in">Log
                        In</a></h6>
            </div>
        </form>
    </div>
</body>